/* Reset */

* {
	box-sizing: border-box;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

/* Layout */
.container {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
}

/* Utils */
.grid {
	display: grid;
}

.flex {
	display: flex;
}

img {
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

/* Header */
header {
	margin: 1rem 0;
}

.header-content {
	justify-content: space-between;
	align-items: center;
}

.nav-list li + li {
	margin-left: 1rem;
}

.nav-list a {
	text-decoration: none;
	color: #000;
}

.nav-list a:hover {
	opacity: 0.6;
	text-decoration: underline;
	transition: all 0.2s ease-in;
}

/* Footer */
footer {
	margin: 1rem 0;
}
